<h1>Update Student</h1>
<form [formGroup]="studentForm" (ngSubmit)="updateStudent()">
  <div class="form-group">
    <div formGroupName="name">
      <label for="first">First Name:</label>
      <input type="text" id="first" formControlName="first">
      <label for="last">Last Name:</label>
      <input type="text" id="last" formControlName="last">
    </div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" class="email-input">

  </div>
  <div class="form-group">
    <div formGroupName="location">
      <div formGroupName="street">
        <label for="name">Street Name:</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <label for="city">City:</label>
      <input type="text" id="city" formControlName="city">
      <label for="state">State:</label>
      <input type="text" id="state" formControlName="state">
      <label for="country">Country:</label>
      <input type="text" id="country" formControlName="country">
    </div>
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" formControlName="phone">
  </div>
  <input type="submit" value="Update Student">
</form>
